body{
    margin: 0;
    font-family: 'Dangrek', cursive;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-kerning: none;
background-color: #212121;
}

.sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #191414;
    z-index: 100;
    color: white;
    }
    
    .sidebar div {
    padding: 12px;
    font-size: 12px;
    display: block;
    z-index: 150;
    }

.header {
    height: 45px;
    width: 100%;
    margin-left: 200px;
    background-color: #191414;
    opacity: 0.85;
    position: fixed;
    z-index: 100;
    color: #ecebe8;
    padding-top: 20px;
}

.header div {
    z-index: 100;
    display: inline;
    margin-inline:145px;
    font-size: 17px;
    padding-top: 2px;
}

.flex-container {
    background-color: #212121;
    margin-left: 200px;
    height: 100%;
    width: 82%;
    padding: 30px;
    position: static;
    z-index: 90;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.playlist1 {
    width: 210px;
    height: 260px;
    background-color: blue;
    z-index: 130;
    border-radius: 8px;
}

.playlist2 {
    width: 210px;
    height: 260px;
    background-color: green;
    z-index: 130;
    border-radius: 8px;
}

.playlist3 {
    width: 210px;
    height: 260px;
    background-color: chocolate;
    z-index: 130;
    border-radius: 8px;
}

.playlist4 {
    width: 210px;
    height: 260px;
    background-color: palevioletred;
    z-index: 130;
    border-radius: 8px;
}

.playlist5 {
    width: 210px;
    height: 260px;
    background-color: brown;
    z-index: 130;
    border-radius: 8px;
}

.playlist6 {
    width: 210px;
    height: 260px;
    background-color: olivedrab;
    z-index: 130;
    border-radius: 8px;
}

.playlist7 {
    width: 210px;
    height: 260px;
    background-color: royalblue;
    z-index: 130;
    border-radius: 8px;
}

.playlist8 {
    width: 210px;
    height: 260px;
    background-color: goldenrod;
    z-index: 130;
    border-radius: 8px;
}

.playlist9 {
    width: 210px;
    height: 260px;
    background-color: orchid;
    z-index: 130;
    border-radius: 8px;
}

.playlist10 {
    width: 210px;
    height: 260px;
    background-color: cornflowerblue;
    z-index: 130;
    border-radius: 8px;
}

.playlist11 {
    width: 210px;
    height: 260px;
    background-color: khaki;
    z-index: 130;
    border-radius: 8px;
}

.playlist12 {
    width: 210px;
    height: 260px;
    background-color: teal;
    z-index: 130;
    border-radius: 8px;
}

.item {
    order: 12;
  }