div {
    width: 1250px;
    border: 20px solid rgba(100, 100, 100, 0);
    margin: 10px;
    padding: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    position: relative;
    text-align: justify;
     }

.abandoned {
    color:rgba(100, 100, 100, 0);
}

.abandoned:hover {
    color:black;
}

.endpage {
    text-align: center;
}

a {
    color:#DA400B;
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.BE {
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:rgba(100, 100, 100, 0);
}

.BE:hover {
    color:black;
}

.EN {
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;   
    color:rgba(100, 100, 100, 0);
}

.EN:hover {
    color:black;
}

.adm {
    color:rgba(100, 100, 100, 0);
    background-color: #5E94D1;
}

.adm:hover {
    color:#5E94D1;
    background-color: rgba(100, 100, 100, 0);
}

.org {
    color:rgba(100, 100, 100, 0);
    background-color: #DA400B;
}

.org:hover {
    color:#DA400B;
    background-color: rgba(100, 100, 100, 0);
}

.paul {
    color: rgba(100, 100, 100, 0);
}

.paul:hover {
    color:#E8AE47;
}