body {
    font-family: Helvetica;
    animation-name: bgColor-changed;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
  }
  
  @keyframes bgColor-changed {
    0% {background-color: #4565b2}
    50% {background-color: #DA400B}
    100% {background-color: #E8AE47}
  }
  
  div {
    width: 1250px;
    border: 20px solid rgba(100, 100, 100, 0);
    margin: 10px;
    padding: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    position: relative;
    text-align: justify;
    color: black;
     }

     .act{
        font-family: "cy", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .paragraph {
        color: black;
    }

    .paragraph {
        animation: fadeIn 7s forwards;}
    
        @keyframes fadeIn {
           0% { opacity: 0; }
           100% { opacity: 1; }
         }

         .endpage {
            text-align: center;
        }

        a {
            color:black;
            font-family: "cy", sans-serif;
            font-weight: 500;
            font-style: normal;
        }