div {
    width: 1250px;
    border: 20px solid rgba(100, 100, 100, 0);
    margin: 10px;
    padding: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    position: relative;
    text-align: justify;
     }

     .endpage {
        text-align: center;
    }
    
    a {
        color:#5E94D1;
        font-family: "cy", sans-serif;
        font-weight: 500;
        font-style: normal;
    }