html{
    margin: 0;
    font-size: 10px;
    font-family: 'Neue Haas Black', 'sans-serif';
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

.flex-container--image{
    width: 70%;
    height: 100%;
    padding: 4rem;
}

.flex-container--image img{
    width: 90%;
    height: 95%;
    object-fit: contain;
}

.flex-container--content{
    width: 30%;
    height: 100vh;
    overflow-y: scroll;
}

.content-actions{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 5pt;
}

.content-toggle--container{
    display: flex;
    justify-content: space-around;
}

.content-toggle{
    width: 50%;
    text-align: center;
    padding: 1rem 2rem;
}

.content-toggle.active{
    border-bottom: 1px solid black;
}

.content-connections{
    margin-top: 1.5rem;
}

.info1{
    border-top: 1px solid black;
}

.content-options{
    display: block;
    padding-top: 10pt;
}

.content-button-connect{
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
}

.button-connect{
    display:flex;
    justify-content: space-around;
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 3px;
    width: 160px;
    height: 30px;
    padding: 10px;
    padding-bottom: 0px;
}

.button-connect:hover{
    border: 2px solid grey;
}

.content-buttons{
    display:grid;
    justify-content: space-around;
    text-align: center;
    margin-top: 5rem;
}

.buttons{
    justify-content: space-around;
    text-align: center;
    border: 2px solid lightgrey;
    width: 30vw;
    height: 40px;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
