body{
	margin:5%;
  margin-bottom: 5%;
  margin-left: 5%;
	height: 100%;
    
}

a {
   color: #6496E2;
}

p1 {
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 96px;
   font-family: "cy", sans-serif;
font-weight: 500;
font-style: normal;
   position: relative;
   text-align: justify;
   hyphens: auto;
   line-height: 1.0;
   color: #6496E2;
}

p,p3 {
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 96px;
   font-family: "cy", sans-serif;
font-weight: 500;
font-style: normal;
   position: relative;
   text-align: justify;
   hyphens: auto;
   line-height: 1.0;
   color: #51361a;
}

p4,p5,p6,p7,p8,p9 {
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 40px;
   font-family: "video", serif;
   font-weight: 400;
   font-style: normal;
   position: relative;
   text-align: justify;
   hyphens: auto;
   line-height: 1.0;
   color: #51361a;
}

p11 {
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 40px;
   font-family: "cy", sans-serif;
font-weight: 500;
font-style: normal;
   position: relative;
   text-align: justify;
   hyphens: auto;
   line-height: 1.0;
   color: #6496E2;
}