/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  margin: 10;
  background-color: black;
}

.tutorial {
  padding: 2em;
  background-color:darkslategrey;
}

.title {
 font-family: 'karla';
 font-size: 35px;
 color:beige;
}

.info {
 font-family: 'space mono';
 font-size: 15px;
 color:beige;
}

/* Common Device Sizes via https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 767px) {
    .tutorial {
        background: beige;
        color: black;
      }
    
      .title {
        font-family: "karla";
        font-size: 100px;
        color: black;
        text-align: center;
      }
    
      .info {
        font-family: serif;
        font-size: 35px;
        color: black;
        max-width: 800px;
        margin: 0 auto;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  
}

http://www--arc.com/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}