.title {
position: absolute;
left: 0px;
top: 0px;

font-family: "cy", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 170px;
line-height: 211px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.author {
position: absolute;
width: 402px;
height: 66px;
left: 998px;
top: 223px;

font-family: "cy", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 50px;
line-height: 66px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.title2 {
position: absolute;
width: 441px;
height: 132px;
left: 40px;
top: 853px;

font-family: "cy", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 50px;
line-height: 66px;
display: flex;
align-items: center;
text-align: justify;

color: #000000;
}